body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}
li {
  list-style: none;
}
img {
  border: 0;
}
a img {
  border: 0;
}
body a {
  color: #212121;
  display: inline-block;
}
/* variables */
.show {
  display: block;
}
/* banner */
.banner {
  position: relative;
  width: 100%;
  height: 850px;
  background: url('../img/Main_Banner_Background.jpg') no-repeat center;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 88px 252px 120px;
}
.banner .container {
  padding: 0;
}
.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .b-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 116px;
}
.banner .b-title h1 {
  color: #ffffff;
  font-size: 66px;
  font-weight: 900;
}
.banner .b-title h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}
.banner .b-tab {
  width: 100%;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 51px 0 0;
}
.banner .b-tab .b-tab-menu {
  width: 100%;
  height: 242px;
  margin: 0 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .b-tab .b-tab-menu span.tab-menu-img {
  width: 158px;
  height: 100%;
  margin: 0 15px 30px;
  background: url('../img/Boat_Icon.png') no-repeat center;
}
.banner .b-tab .b-tab-menu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner .b-tab .b-tab-menu ul li {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*公共的半透明icon样式*/
  /*Chartering 的半透明icon样式*/
  /*Crewing 的半透明icon样式*/
  /*Marine Supplies的半透明icon样式*/
  /*Bunkering 的半透明icon样式*/
  /*Port Agency 的半透明icon样式*/
  /*SNP 的半透明icon样式*/
  /*Insurance 的半透明icon样式*/
  /*当前hover动画效果*/
}
.banner .b-tab .b-tab-menu ul li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  border: 4px solid #ffffff;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.32);
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.banner .b-tab .b-tab-menu ul li > a:hover {
  background-color: #ffffff;
  box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  color: #0081cc;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon .tab-menu-wrapper {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon .tab-menu-wrapper i {
  font-size: 33px;
  color: #0081cc;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.left,
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.middle,
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.right {
  position: absolute;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.left {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.75);
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.middle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.75);
}
.banner .b-tab .b-tab-menu ul li .tab-menu-icon span.right {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  opacity: 0.4;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.75);
}
.banner .b-tab .b-tab-menu ul li .tab-menu-chartering .tab-menu-wrapper {
  top: 20px;
  left: 0;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-chartering span.left {
  top: 88px;
  left: -5px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-chartering span.middle {
  top: 157px;
  left: 40px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-chartering span.right {
  top: 62px;
  left: 80px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-crewing .wrapper-top {
  top: 0;
  left: 190px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-crewing .wrapper-bottom {
  top: 165px;
  left: 130px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-crewing span.left {
  top: 74px;
  left: 180px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-crewing span.middle {
  top: 160px;
  left: 258px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-crewing span.right {
  top: 170px;
  left: 208px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-ms .tab-menu-wrapper {
  top: 182px;
  left: 416px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-ms span.left {
  top: 180px;
  left: 396px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-ms span.middle {
  top: 64px;
  left: 373px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-ms span.right {
  top: 80px;
  left: 454px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-bunkering .tab-menu-wrapper {
  top: 15px;
  left: 534px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-bunkering span.left {
  top: 162px;
  left: 565px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-bunkering span.middle {
  top: 177px;
  left: 615px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-bunkering span.right {
  top: 83px;
  left: 620px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-pa .tab-menu-wrapper {
  top: 170px;
  left: 725px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-pa span.left {
  top: 164px;
  left: 705px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-pa span.middle {
  top: 61px;
  left: 700px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-pa span.right {
  top: 86px;
  left: 775px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-snp .tab-menu-wrapper {
  top: 23px;
  left: 833px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-snp span.left {
  top: 71px;
  left: 815px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-snp span.middle {
  top: 178px;
  left: 826px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-snp span.right {
  top: 150px;
  left: 853px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-insurance span.left {
  top: 57px;
  left: 939px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-insurance span.middle {
  top: 81px;
  left: 990px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-insurance span.right {
  top: 176px;
  left: 950px;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-active .tab-menu-wrapper {
  opacity: 1;
  background-color: #ffffff;
  box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.75);
}
.banner .b-tab .b-tab-menu ul li .tab-menu-active span.left {
  -webkit-animation: glint 1.5s ease-in infinite alternate;
  -o-animation: glint 1.5s ease-in infinite alternate;
  animation: glint 1.5s ease-in infinite alternate;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-active span.right {
  -webkit-animation: glint 2s ease-in infinite alternate;
  -o-animation: glint 2s ease-in infinite alternate;
  animation: glint 2s ease-in infinite alternate;
}
.banner .b-tab .b-tab-menu ul li .tab-menu-active span.middle {
  -webkit-animation: glintMiddle 1s ease-in infinite alternate;
  -o-animation: glintMiddle 1s ease-in infinite alternate;
  animation: glintMiddle 1s ease-in infinite alternate;
}
.banner .b-tab .b-tab-menu ul li::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6px;
  width: 36px;
  background: #ffffff;
}
.banner .b-tab .b-tab-menu ul li:last-child::after {
  width: 0;
}
.banner .b-tab .b-tab-box {
  width: 684px;
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.banner .b-tab .b-tab-box li {
  display: none;
  width: 100%;
  height: 42px;
  text-align: center;
}
.banner .b-tab .b-signUp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0;
}
.banner .b-tab .b-signUp a {
  width: 222px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #0081cc;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 6px 16px 0 rgba(17, 123, 184, 0.5);
}
.banner .b-icon {
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, 0);
  width: 70px;
  height: 70px;
  background: #ffffff url('../img/b-icon.JPG') no-repeat center center;
  border-radius: 35px;
}
/*tools*/
.tools {
  width: 100%;
  height: 651px;
  padding: 124px 180px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tools > h4 {
  color: #0081cc;
  font-weight: bold;
}
.tools .t-tab {
  width: 100%;
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tools .t-tab .t-tab-menu {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}
.tools .t-tab .t-tab-menu ul.icon-lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools .t-tab .t-tab-menu li {
  height: auto;
  width: 80px;
  padding: 25px 0;
}
.tools .t-tab .t-tab-menu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tools .t-tab .t-tab-menu li a > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 32px;
  color: #666666;
}
.tools .t-tab .t-tab-menu li a i.icon {
  font-size: 40px;
  color: #0081cc;
}
.tools .t-tab .t-tab-menu li:nth-child(4) a > p {
  width: 80px;
}
.tools .t-tab .t-tab-menu li.t-active {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: #0081cc;
}
.tools .t-tab .t-tab-menu li.t-active a > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.tools .t-tab .t-tab-menu li.t-active a i.icon {
  color: #ffffff;
  font-size: 40px;
}
.tools .t-tab .t-tab-menu li:nth-child(4).t-active a > p {
  width: 100px;
}
.tools .t-tab .t-tab-menu li:last-child {
  margin-right: 0;
}
.tools .t-tab .t-tab-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}
.tools .t-tab .t-tab-box ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 930px;
  height: 103px;
}
.tools .t-tab .t-tab-box ul li {
  display: none;
}
.tools .t-tab .t-tab-box ul li > p {
  color: #666666;
}
.tools .t-tab .t-tab-box .tools-number {
  width: 80px;
  height: 103px;
  margin: 0 0 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tools .t-tab .t-tab-box .tools-number span:first-child {
  font-size: 64px;
  color: #c3c3c3;
  text-align: center;
  height: 75px;
}
.tools .t-tab .t-tab-box .tools-number span:last-child {
  font-size: 24px;
  font-family: LucidaGrande;
  color: #c3c3c3;
  text-align: center;
}
.tools .t-tab .t-tab-hint {
  width: 100%;
  height: 3px;
  background: #cfcfcf;
}
.tools .t-tab .t-tab-hint ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.tools .t-tab .t-tab-hint ul li {
  display: inline-block;
  width: 152.5px;
  height: 100%;
}
.tools .t-tab .t-tab-hint ul li.select {
  background: #0081cc;
}
/*services*/
.services {
  width: 100%;
  height: 932px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .s-content {
  width: 100%;
  padding: 107px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .s-content > h4 {
  color: #0081cc;
  font-weight: bold;
}
.services .s-content .s-content-detail {
  margin: 71px 0 0 0;
  width: 100%;
  height: 389px;
}
.services .s-content .s-content-detail ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services .s-content .s-content-detail li {
  width: 340px;
  height: 389px;
  margin: 0 26px 0 0;
}
.services .s-content .s-content-detail li > a {
  width: 100%;
  height: 200px;
}
.services .s-content .s-content-detail li > a img {
  width: 100%;
  height: 100%;
}
.services .s-content .s-content-detail li .detail {
  padding: 19px 33px 34px 21px;
}
.services .s-content .s-content-detail li .detail p {
  width: 100%;
  height: 32px;
  color: #666666;
  line-height: 1;
}
.services .s-content .s-content-detail li .detail span {
  display: inline-block;
  width: 19px;
  height: 4px;
  background-color: #0081cc;
  margin: 8px 0;
}
.services .s-content .s-content-detail li .detail a.more {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #0081cc;
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 ;
}
.services .s-content .s-content-detail li .detail a.more:hover {
  border: solid 1px #18aaff;
  color: #18aaff;
}
.services .s-content .s-content-detail li:last-child {
  margin: 0;
}
.services .s-content .s-content-img {
  margin: 30px 0 0 0;
  width: 100%;
  height: 200px;
}
.services .s-content .s-content-img ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services .s-content .s-content-img li {
  width: 462px;
  height: 100%;
  margin: 0 26px 0 0;
  position: relative;
}
.services .s-content .s-content-img li div.img-default {
  width: 462px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .s-content .s-content-img li div.img-default > div {
  width: 100%;
  height: 100%;
  background: #0081cc;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .s-content .s-content-img li div.img-default > div span {
  width: 140px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.services .s-content .s-content-img li div.img-default > div:hover {
  opacity: 1;
}
.services .s-content .s-content-img li div.img-crewing {
  background: url(../img/Crewing.jpg) no-repeat center center;
}
.services .s-content .s-content-img li div.img-ship {
  background: url(../img/Ship_Sales_Purchase.jpg) no-repeat center center;
}
.services .s-content .s-content-img li div.img-insurance {
  background: url(../img/Marine_Insurance.jpg) no-repeat center center;
}
.services .s-content .s-content-img li:last-child {
  margin: 0;
}
@-moz-keyframes glintLeft {
  0% {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-webkit-keyframes glint {
  0% {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-ms-keyframes glint {
  0% {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-o-keyframes glint {
  0% {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@keyframes glint {
  0% {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 14px 6px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-moz-keyframes glintMiddle {
  0% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-webkit-keyframes glintMiddle {
  0% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-ms-keyframes glintMiddle {
  0% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@-o-keyframes glintMiddle {
  0% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
@keyframes glintMiddle {
  0% {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.75);
  }
  25% {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.75);
  }
  50% {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: .6;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.75);
  }
  75% {
    width: 2px;
    height: 2px;
    border-radius: 1px;
    opacity: .4;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.75);
  }
  100% {
    width: 0;
    height: 0;
    border-radius: 0;
    opacity: .1;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }
}
