body, h1, h2, h3, h4, h5, h6, p, ul, ol, form { margin: 0;  }
ul, ol { padding-left: 0; list-style: none; }
li { list-style: none; }
img { border: 0;  }
a img { border: 0;  }
body a { color:#212121; display: inline-block;}
/* variables */
@h30: 30px;
@h40: 40px;
@h80: 80px;
@h100:100px;
@color-primary: #0081cc;
@color-banner: #FFFEFF;   // banner部分的主要颜色
@color-text: #212121;   // 大面积正文颜色
@font-family:Roboto;    // 整体字体


.container {
    background: #bae7ff;    // for layout
}
 /* header */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: @h80;
    background: #fff;
    .h-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .h-search {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        //width: 350px;
        height: @h30;
        margin: 0 0 0 10px;
        border:1px solid #d9d9d9;
        border-radius:15px;

        >li.dropdown {
            padding:0 15px;
            border-right: 1px solid #d9d9d9;
        }
        i.icon-search {
            font-size: 18px;
            margin: 0 15px;
            cursor: pointer;
        }
        .search-input {
            margin: 0 15px;
            border:0;
            outline: none;
        }
    }
    .h-nav {
        display:flex;
        justify-content:flex-start;
        align-items: center;
        width: 600px;
        height: @h40;
        //background: #b3b3b3;    // for layout
        margin:0 80px;
        ul.marineTools-list {
            display: flex;
            justify-content:flex-start;
            align-items: center;
            height: @h30;
            line-height:@h30;
            >li {
                height:100%;
                margin:0 15px;
                padding: 0 15px;
            }
            >li:hover {
                border: 1px solid @color-primary;
                border-radius:20px;
                color: @color-primary;
            }
        }
    }
    .h-login {
        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li {
                margin: 0 5px;
            }
        }
    }
}

/* menu */
.banner {
    width: 100%;
    height: 1000px;  // for layout
    background: #019EED;    // for layout
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: @color-banner;
    .b-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;  // for layout
        background: #b3b3b3;    // for layout
        h1 {
            color: @color-banner;
            font-size: 60px;
        }
        h3 {
            color: @color-banner;
            font-size: 26px;
        }
    }
    .b-tab {
        width: 100%;
        //height: 200px;  // for layout
        background: #8ae234;    // for layout
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .b-tab-menu {
            margin: 150px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: @h30;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border:3px solid @color-banner;
                        border-radius: 15px;
                        padding:0 10px;
                        height: 100%;
                        color: @color-banner;
                    }
                }
                li::after {
                    content: "";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4px;
                    width: 40px;
                    background: @color-banner;
                }
                li:last-child {
                    width: 0;
                }

            }
        }
        .b-tab-box {
            width: 500px;
            height: @h80;
            background: #f40;
            text-align: center;
            line-height: @h80;
            .hide {
                display: none;
            }
        }
    }
    .b-signUp {
        width: 100%;
        height: 200px;  // for layout
        background: #4e9a06;    // for layout
        button {
            background: #fff;
        }
    }

}
.tools {
    width: 100%;
    height: 200px;  // for layout
    background: #2365ff;    // for layout
}
.services {
    width: 100%;
    height: 932px;
    background: #8ae234;    // for layout
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .s-content {
        width: 100%;
        padding: 107px 0;
        background: #f83f3c;    // for layout
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        align-items: center;
        >h4 {
            color: @color-primary;
            font-weight: bold;
        }
        .s-content-detail {
            margin: 71px 0 0 0;
            width: 100%;
            height: 389px;
            background: #f2ae00; // for layout
        }
        .s-content-introduce {
            margin: 30px 0 0 0;
            width: 100%;
            height: 200px;
            background: magenta; // for layout
        }
    }

}
.information {
    width: 100%;
    height: 200px;  // for layout
    background: #00c6f5;    // for layout
}
.download {
    width: 100%;
    height: 200px;  // for layout
    background: #1AC4C3;    // for layout
}
.footer.light {
    width: 100%;
    background: #EFEFEF;
    .container {
        background: transparent;
    }
}




