body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}
li {
  list-style: none;
}
img {
  border: 0;
}
a img {
  border: 0;
}
body a {
  color: #212121;
  display: inline-block;
}
/* variables */
.dn {
  display: none;
}
.container {
  background: #bae7ff;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  background: #fff;
}
.header .h-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .h-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  margin: 0 0 0 10px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
}
.header .h-search > li.dropdown {
  padding: 0 15px;
  border-right: 1px solid #d9d9d9;
}
.header .h-search i.icon-search {
  font-size: 18px;
  margin: 0 15px;
  cursor: pointer;
}
.header .h-search .search-input {
  margin: 0 15px;
  border: 0;
  outline: none;
}
.header .h-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 40px;
  margin: 0 80px;
}
.header .h-nav ul.marineTools-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  line-height: 30px;
}
.header .h-nav ul.marineTools-list > li {
  height: 100%;
  margin: 0 15px;
  padding: 0 15px;
}
.header .h-nav ul.marineTools-list > li:hover {
  border: 1px solid #0081cc;
  border-radius: 20px;
  color: #0081cc;
}
.header .h-login ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .h-login ul li {
  margin: 0 5px;
}
/* menu */
.banner {
  width: 100%;
  height: 1000px;
  background: #019EED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffeff;
}
.banner .b-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #b3b3b3;
}
.banner .b-title h1 {
  color: #fffeff;
  font-size: 60px;
}
.banner .b-title h3 {
  color: #fffeff;
  font-size: 26px;
}
.banner .b-tab {
  width: 100%;
  background: #8ae234;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .b-tab .b-tab-menu {
  margin: 150px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .b-tab .b-tab-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .b-tab .b-tab-menu ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}
.banner .b-tab .b-tab-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fffeff;
  border-radius: 15px;
  padding: 0 10px;
  height: 100%;
  color: #fffeff;
}
.banner .b-tab .b-tab-menu ul li::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  width: 40px;
  background: #fffeff;
}
.banner .b-tab .b-tab-menu ul li:last-child {
  width: 0;
}
.banner .b-tab .b-tab-box {
  width: 500px;
  height: 80px;
  background: #f40;
  text-align: center;
  line-height: 80px;
}
.banner .b-tab .b-tab-box .hide {
  display: none;
}
.banner .b-signUp {
  width: 100%;
  height: 200px;
  background: #4e9a06;
}
.banner .b-signUp button {
  background: #fff;
}
.tools {
  width: 100%;
  height: 651px;
  padding: 124px 180px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tools > h4 {
  color: #0081cc;
  font-weight: bold;
}
.tools .t-tab {
  width: 100%;
  height: 303px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #cfcfcf;
}
.tools .t-tab .t-tab-menu,
.tools .t-tab .t-tab-box {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tools .t-tab .t-tab-menu {
  padding: 0 95px;
}
.tools .t-tab .t-tab-menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tools .t-tab .t-tab-menu li {
  height: auto;
  width: 80px;
  padding: 25px 0;
}
.tools .t-tab .t-tab-menu li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tools .t-tab .t-tab-menu li a > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  margin: 20px 0 0;
}
.tools .t-tab .t-tab-menu li.t-active {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: #0081cc;
}
.tools .t-tab .t-tab-menu li.t-active a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.tools .t-tab .t-tab-menu li:last-child {
  margin-right: 0;
}
.services {
  width: 100%;
  height: 932px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .s-content {
  width: 100%;
  padding: 107px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .s-content > h4 {
  color: #0081cc;
  font-weight: bold;
}
.services .s-content .s-content-detail {
  margin: 71px 0 0 0;
  width: 100%;
  height: 389px;
}
.services .s-content .s-content-detail ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services .s-content .s-content-detail li {
  width: 340px;
  height: 389px;
  margin: 0 26px 0 0;
}
.services .s-content .s-content-detail li > a {
  width: 100%;
  height: 200px;
}
.services .s-content .s-content-detail li > a img {
  width: 100%;
  height: 100%;
}
.services .s-content .s-content-detail li .detail {
  padding: 19px 33px 34px 21px;
}
.services .s-content .s-content-detail li .detail p {
  width: 100%;
  height: 32px;
}
.services .s-content .s-content-detail li .detail span {
  display: inline-block;
  width: 19px;
  height: 4px;
  background-color: #0081cc;
  margin: 8px 0 14px;
}
.services .s-content .s-content-detail li .detail a.more {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #0081cc;
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 ;
}
.services .s-content .s-content-detail li:last-child {
  margin: 0;
}
.services .s-content .s-content-img {
  margin: 30px 0 0 0;
  width: 100%;
  height: 200px;
  background: magenta;
}
.services .s-content .s-content-img ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.services .s-content .s-content-img li {
  width: 462px;
  height: 100%;
  margin: 0 26px 0 0;
  position: relative;
}
.services .s-content .s-content-img li div.img-default,
.services .s-content .s-content-img li div.img-mask {
  width: 462px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .s-content .s-content-img li div.img-default {
  background: url(../img/s-5.JPG) no-repeat center center;
}
.services .s-content .s-content-img li div.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  background: #0081cc;
}
.services .s-content .s-content-img li span {
  width: 140px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.services .s-content .s-content-img li:last-child {
  margin: 0;
}
.information {
  width: 100%;
  height: 200px;
  background: #00c6f5;
}
.download {
  width: 100%;
  height: 200px;
  background: #1AC4C3;
}
.footer.light {
  width: 100%;
  background: #EFEFEF;
}
.footer.light .container {
  background: transparent;
}
